In [86]:
import numpy as np
import pandas as pd

data = pd.read_csv('sample.csv')
data

  origin manufacturer  color  decade     type sold
0  japan        honda   blue    1980  economy  yes
1  japan       toyota  green    1970   sports   no
2  japan       toyota   blue    1990  economy  yes
3    usa     chrysler    red    1980  economy   no
4  japan        honda  white    1980  economy  yes

In [87]:
#extract all the rows and columns, except the concept
d = np.array(data)[:,:-1]
d

array([['japan', 'honda', 'blue', 1980, 'economy'],
       ['japan', 'toyota', 'green', 1970, 'sports'],
       ['japan', 'toyota', 'blue', 1990, 'economy'],
       ['usa', 'chrysler', 'red', 1980, 'economy'],
       ['japan', 'honda', 'white', 1980, 'economy']], dtype=object)

In [88]:
#extract the concept, which is the last column
target = np.array(data)[:,-1]
target

array(['yes', 'no', 'yes', 'no', 'yes'], dtype=object)

In [89]:
def candidate_eliminate(d,t):
    specific_hypothesis = d.copy()[0]
    general_hypothesis = [['?' for i in range(len(specific_hypothesis))] for i in range(len(specific_hypothesis))]
    empty_row = ['?' for i in range(len(specific_hypothesis))]

    for i in range(len(d)):
        #positive instances
        if target[i] == 'yes' :
            #check the current attribute values with the specific hypothesis value
            for j in range(len(specific_hypothesis)):
                if d[i][j] != specific_hypothesis[j]:
                    specific_hypothesis[j] = '?'
                    general_hypothesis[j][j] = '?'
        #negative instances
        else :
            #check with with the specific hypothesis
            for j in range(len(specific_hypothesis)):
                if d[i][j] != specific_hypothesis[j]:
                    general_hypothesis[j][j] = specific_hypothesis[j]
                else:
                    general_hypothesis[j][j] = '?'
        
        print(str(specific_hypothesis))
        print(str(general_hypothesis))
        print("--------------------------")

    #remove all the unused general hypotheses
    unused_index = [i for i,val in enumerate(general_hypothesis) if val == empty_row]
    
    for i in unused_index:
        general_hypothesis.remove(empty_row)
    
    return specific_hypothesis,general_hypothesis

In [90]:
sh,gh = candidate_eliminate(d,target)
print("Final specific hypothesis - " + str(sh))
print("Final general hypothesis - " + str(gh))

['japan' 'honda' 'blue' 1980 'economy']
[['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]
--------------------------
['japan' 'honda' 'blue' 1980 'economy']
[['?', '?', '?', '?', '?'], ['?', 'honda', '?', '?', '?'], ['?', '?', 'blue', '?', '?'], ['?', '?', '?', 1980, '?'], ['?', '?', '?', '?', 'economy']]
--------------------------
['japan' '?' 'blue' '?' 'economy']
[['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', 'blue', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', 'economy']]
--------------------------
['japan' '?' 'blue' '?' 'economy']
[['japan', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', 'blue', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]
--------------------------
['japan' '?' '?' '?' 'economy']
[['japan', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?'], ['?', '?', '?', '?', '?']]
--------------------------
Final specific hypothesis - ['japan' '?' '?' '?' 'economy']
Final general hypothesis - [['japan', '?', '?', '?', '?']]